<%- include('../layouts/admin/adminHeader.ejs') %>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <%- include('../layouts/admin/adminNavbar.ejs') %>
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <%- include('../layouts/admin/adminSidebar.ejs') %>
          <div class="main-panel">
            <div class="content-wrapper">
              <!-- Page Title Header Starts-->
              <div class="row page-title-header">
                <div class="col-12">
                  <div class="page-header">
                    <h4 class="page-title">Dashboard</h4>
                  </div>
                </div>
              </div>
              <!-- Page Title Header Ends-->

              <!-- code starts -->

              <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                  <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                      <i class="fa fa-chart-line fa-3x" style="color: #769C5C;"></i>
                      <div class="ms-3">
                        <p class="mb-2"><b>Total Products</b></p>
                        <h6 class="mb-0">
                          <%=productCount%>
                        </h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                      <i class="fa fa-chart-bar fa-3x" style="color: #769C5C;"></i>
                      <div class="ms-3">
                        <p class="mb-2"><b>Total Users</b></p>
                        <h6 class="mb-0">
                          <%= userCount %>
                        </h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                      <i class="fa fa-chart-area fa-3x" style="color: #769C5C;"></i>
                      <div class="ms-3">
                        <p class="mb-2"><b>Total Category</b></p>
                        <h6 class="mb-0">
                          <%= categoryCount %>
                        </h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                      <i class="fa fa-chart-pie fa-3x" style="color: #769C5C;"></i>
                      <div class="ms-3">
                        <p class="mb-2"><b>Total Orders</b></p>
                        <h6 class="mb-0">
                          <%= orderCount %>
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Sale & Revenue End -->

              <!-- Sales Chart Start -->
              <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                  <div class="col-sm-12 col-xl-6">
                    <div class="bg-light text-center rounded p-4">
                      <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Category wise sales</h6>
                      </div>
                      <div id="chart">
                        <% categoryName.forEach(function(name,index){ %>
                          <input id="cat<%=index%>" type="hidden" name="cat<%=index%>" value="<%= name %>">
                          <% }); %>
                            <input id="categoryLength" type="hidden" name="categoryLength"
                              value="<%= categoryLength %>">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-xl-6">
                    <div class="bg-light text-center rounded p-4">
                      <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Payment Types</h6>
                      </div>
                      <div id="paymentChart"></div>
                      <input id="online" type="hidden" name="online" value="<%=onlinePaymentCount%>">
                      <input id="cash" type="hidden" name="cash" value="<%= cashPaymentCount %>">
                      <input id="wallet" type="hidden" name="wallet" value="<%= walletPaymentCount %>">
                    </div>
                  </div>
                </div>
              </div>
              <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                  <div class="col-sm-12 col-xl-6">
                    <div class="bg-light text-center rounded p-4">
                      <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Weekly Sales (<%= monthName %>)</h6>
                      </div>
                      <div id="weekChart">
                        <input id="week1" type="hidden" name="week1" value="<%= weeklySalesArr[0] %>">
                        <input id="week2" type="hidden" name="week2" value="<%= weeklySalesArr[1] %>">
                        <input id="week3" type="hidden" name="week3" value="<%= weeklySalesArr[2] %>">
                        <input id="week4" type="hidden" name="week4" value="<%= weeklySalesArr[3] %>">
                        <input id="week5" type="hidden" name="week5" value="<%= weeklySalesArr[4] %>">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-xl-6">
                    <div class="bg-light text-center rounded p-4">
                      <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Monthly sales (<%= currentYear %>)</h6>
                      </div>
                      <div id="monthChart">
                        <input id="jan" type="hidden" name="jan" value="<%=monthlySalesArr[0]%>">
                        <input id="feb" type="hidden" name="feb" value="<%=monthlySalesArr[1]%>">
                        <input id="mar" type="hidden" name="mar" value="<%=monthlySalesArr[2]%>">
                        <input id="apr" type="hidden" name="apr" value="<%=monthlySalesArr[3]%>">
                        <input id="may" type="hidden" name="may" value="<%=monthlySalesArr[4]%>">
                        <input id="jun" type="hidden" name="jun" value="<%=monthlySalesArr[5]%>">
                        <input id="jul" type="hidden" name="jul" value="<%=monthlySalesArr[6]%>">
                        <input id="aug" type="hidden" name="aug" value="<%=monthlySalesArr[7]%>">
                        <input id="sep" type="hidden" name="sep" value="<%=monthlySalesArr[8]%>">
                        <input id="oct" type="hidden" name="oct" value="<%=monthlySalesArr[9]%>">
                        <input id="nov" type="hidden" name="nov" value="<%=monthlySalesArr[11]%>">
                        <input id="dec" type="hidden" name="dec" value="<%=monthlySalesArr[12]%>">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Sales Chart End -->

              <!-- Recent Sales Start -->
              <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                  <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Most Recent Sales</h6>
                  </div>
                  <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                      <thead>
                        <tr class="text-dark">
                          <th scope="col">Date</th>
                          <th scope="col">Order Id</th>
                          <th scope="col">Customer</th>
                          <th scope="col">Amount</th>
                          <th scope="col">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% lastTenOrders.forEach(function(order){ %>
                          <tr>
                            <td>
                              <%= new Date(order.date).toLocaleString('en-US', { year: 'numeric' , month: '2-digit' ,
                                day: '2-digit' }) %>
                            </td>
                            <td>
                              <%= order.orderId %>
                            </td>
                            <td>
                              <%= order.userName %>
                            </td>
                            <td>₹ <%= order.totalAmount %>
                            </td>
                            <td>
                              <%= order.paymentMethod %>
                            </td>
                          </tr>
                          <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- Recent Sales End -->
              <!-- code ends -->
            </div>
            <!-- content-wrapper ends -->
            <script>
              function pageLoad() {
                console.log('hi');

                //for paymentChart
                let online = parseInt(document.getElementById('online').value);
                let cash = parseInt(document.getElementById('cash').value);
                let wallet = parseInt(document.getElementById('wallet').value);
                let total = online + cash + wallet;
                var onlinePercent = (online / total) * 100;
                var cashPercent = (cash / total) * 100;
                var walletPercent = (wallet / total) * 100;

                //for monthChart
                var jan = document.getElementById("jan").value;
                var feb = document.getElementById("feb").value;
                var mar = document.getElementById("mar").value;
                var apr = document.getElementById("apr").value;
                var may = document.getElementById("may").value;
                var jun = document.getElementById("jun").value;
                var jul = document.getElementById("jul").value;
                var aug = document.getElementById("aug").value;
                var sep = document.getElementById("sep").value;
                var oct = document.getElementById("oct").value;
                var nov = document.getElementById("nov").value;
                var dec = document.getElementById("dec").value;

                //for weekChart
                var week1 = document.getElementById('week1').value;
                var week2 = document.getElementById('week2').value;
                var week3 = document.getElementById('week3').value;
                var week4 = document.getElementById('week4').value;
                var week5 = document.getElementById('week5').value;

                //for chart
                var categoryLength = document.getElementById('categoryLength').value;
                var categoryValues = [];
                for (let i = 0; i < categoryLength; i++) {
                  let inputValue = document.getElementById('cat' + i).value;
                  categoryValues.push(inputValue);
                }
                const categorySales = [12, 18, 13];
                let data = [];
                categoryValues.forEach((name, index) => {
                  data.push({ x: name, y: categorySales[index] });
                });


                var options = {
                  chart: {
                    type: 'bar'
                  },
                  plotOptions: {
                    bar: {
                      horizontal: true
                    }
                  },
                  series: [{
                    data: data
                  }],
                  colors: ['#769C5C', '#769C5C', '#769C5C'] // Define colors for each bar
                };

                var paymentOption = {
                  chart: {
                    type: 'donut'
                  },
                  series: [cashPercent, onlinePercent, walletPercent],
                  labels: ['Cash on delivery', 'Online Payment', 'Wallet'],
                  colors: ['#8BB471', '#769C5C', '#B4718B']
                };

                var weekOption = {
                  chart: {
                    height: 280,
                    type: "area"
                  },
                  dataLabels: {
                    enabled: true
                  },
                  series: [
                    {
                      name: "Series 1",
                      data: [week1, week2, week3, week4, week5]
                    }
                  ],
                  fill: {
                    type: "gradient",
                    gradient: {
                      shadeIntensity: 1,
                      opacityFrom: 0.7,
                      opacityTo: 0.9,
                      stops: [0, 90, 100]
                    }
                  },
                  xaxis: {
                    categories: [
                      "Week 1",
                      "Week 2",
                      "Week 3",
                      "Week 4",
                      "Week 5",
                    ]
                  },
                  colors: ['#769C5C']
                };

                var monthOption = {
                  chart: {
                    height: 350,
                    type: "line",
                    stacked: false
                  },
                  stroke: {
                    curve: 'smooth',
                  },
                  markers: {
                    size: 1
                  },
                  dataLabels: {
                    enabled: true
                  },
                  colors: ["#769C5C"],
                  series: [
                    {
                      name: "Sales",
                      data: [jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, dec]
                    },
                  ],
                  stroke: {
                    width: [4, 4]
                  },
                  plotOptions: {
                    bar: {
                      columnWidth: "20%"
                    }
                  },
                  xaxis: {
                    categories: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                  },
                  yaxis: [
                    {
                      min: 0,
                      max: 50,
                      tickAmount: 10,
                      axisTicks: {
                        show: true
                      },
                      axisBorder: {
                        show: true,
                        color: "#808080"
                      },
                      labels: {
                        style: {
                          colors: "#808080"
                        },
                        formatter: function (value) {
                          return value; // To customize label formatting if needed
                        }
                      },
                      title: {
                        text: "Sales",
                        style: {
                          color: "#808080"
                        }
                      }
                    }
                  ],
                  tooltip: {
                    shared: false,
                    intersect: true,
                    x: {
                      show: false
                    }
                  },
                  legend: {
                    horizontalAlign: "left",
                    offsetX: 40
                  },
                };


                var chart = new ApexCharts(document.querySelector("#chart"), options);
                var paymentChart = new ApexCharts(document.querySelector("#paymentChart"), paymentOption);
                var weekChart = new ApexCharts(document.querySelector('#weekChart'), weekOption);
                var monthChart = new ApexCharts(document.querySelector('#monthChart'), monthOption);

                chart.render();
                paymentChart.render();
                weekChart.render();
                monthChart.render();
              }
              window.onload = pageLoad();
            </script>
            <%- include('../layouts/admin/adminFooter.ejs') %>