<%- include('../layouts/admin/adminHeader.ejs') %>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <%- include('../layouts/admin/adminNavbar.ejs') %>
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <%- include('../layouts/admin/adminSidebar.ejs') %>
          <div class="main-panel">
            <div class="content-wrapper">
              <!-- Page Title Header Starts-->
              <div class="row page-title-header">
                <div class="col-12">
                  <div class="page-header">
                    <h4 class="page-title">Dashboard</h4>
                  </div>
                </div>
              </div>
              <!-- Page Title Header Ends-->

              <!-- code starts -->

              <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                  <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                      <i class="fa fa-chart-line fa-3x text-success"></i>
                      <div class="ms-3">
                        <p class="mb-2"><b>Total Products</b></p>
                        <h6 class="mb-0">
                          <%=productCount%>
                        </h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                      <i class="fa fa-chart-bar fa-3x text-success"></i>
                      <div class="ms-3">
                        <p class="mb-2"><b>Total Users</b></p>
                        <h6 class="mb-0">
                          <%= userCount %>
                        </h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                      <i class="fa fa-chart-area fa-3x text-success"></i>
                      <div class="ms-3">
                        <p class="mb-2"><b>Total Category</b></p>
                        <h6 class="mb-0">
                          <%= categoryCount %>
                        </h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                      <i class="fa fa-chart-pie fa-3x text-success"></i>
                      <div class="ms-3">
                        <p class="mb-2"><b>Total Orders</b></p>
                        <h6 class="mb-0">
                          <%= orderCount %>
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Sale & Revenue End -->

              <!-- Sales Chart Start -->
              <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                  <div class="col-sm-12 col-xl-6">
                    <div class="bg-light text-center rounded p-4">
                      <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Worldwide Sales</h6>
                      </div>
                      <canvas id="worldwide-sales"></canvas>
                    </div>
                  </div>
                  <div class="col-sm-12 col-xl-6">
                    <div class="bg-light text-center rounded p-4">
                      <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Sales & Revenue</h6>
                      </div>
                      <canvas id="salse-revenue"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Sales Chart End -->

              <!-- Recent Sales Start -->
              <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                  <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Most Recent Sales</h6>
                  </div>
                  <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                      <thead>
                        <tr class="text-dark">
                          <th scope="col">Date</th>
                          <th scope="col">Order Id</th>
                          <th scope="col">Customer</th>
                          <th scope="col">Amount</th>
                          <th scope="col">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% lastTenOrders.forEach(function(order){ %>
                          <tr>
                            <td><%= new Date(order.date).toLocaleString('en-US', { year: 'numeric' , month: '2-digit' , day: '2-digit' }) %></td>
                            <td><%= order.orderId %></td>
                            <td><%= order.userName %></td>
                            <td>₹ <%= order.totalAmount %></td>
                            <td><%= order.paymentMethod %></td>
                          </tr>
                          <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- Recent Sales End -->
              <!-- code ends -->
            </div>
            <!-- content-wrapper ends -->
            <%- include('../layouts/admin/adminFooter.ejs') %>