<%- include('../user/userHeader.ejs') %>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <%- include('../user/userNavbar.ejs') %>
        <!-- Navbar End -->


        <!-- Hero Start -->
        <div class="container-fluid bg-primary hero-header mb-5">
            <div class="container text-center">
                <h1 class="display-4 text-white mb-3 animated slideInDown">Address Book</h1>
                <p>View and manage addresses</p>
                <!-- <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center mb-0 animated slideInDown">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Products</li>
                </ol>
            </nav> -->
            </div>
        </div>
        <!-- Hero End -->


        <!-- address Start -->
        <div class="col-lg-9 my-lg-0 my-1">
            <% addresses?.address?.forEach(function(address){ %>
              <div class="card w-75 my-3">
                <div class="card-body text-center">
                  <h5 class="card-title my-3">
                    <%= address.type %>
                  </h5>
                  <p class="card-text my-3">
                  <h6><%=user?user:'user' %></h6>
                  <%= address.country %>,<%= address.state %>, <%= address.apartment %><br>
                        <%= address.city %>, <%= address.street %>, <%= address.zipcode %><br>
                              <h6>Contact: <%=number?number:'Number' %></h6>
                              </p>
                              <a href="/adelete/<%= address._id %>" class="btn btn-danger my-3">Delete</a>
                </div>
              </div>
              <% }); %>
                <a href="/addAddress" class="btn" style="background-color: #8BB471; color: white; width: 100px;">Add New</a>
          </div>
        <!-- address End -->


        <!-- Newsletter Start -->
        <div class="container-fluid newsletter bg-primary py-5 my-5">
            <div class="container py-5">
                <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="text-white mb-3"><span class="fw-light text-dark">Let's Subscribe</span> The Newsletter
                    </h1>
                    <p class="text-white mb-4">Subscribe now to get 15% discount on any of our products</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-7 wow fadeIn" data-wow-delay="0.5s">
                        <div class="position-relative w-100 mt-3 mb-2">
                            <input class="form-control w-100 py-4 ps-4 pe-5" type="text" placeholder="Enter Your Email"
                                style="height: 48px;">
                            <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i
                                    class="fa fa-paper-plane text-white fs-4"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter End -->


        <!-- Footer Start -->
        <%- include('../user/userFooter.ejs') %>