<%- include('../user/userHeader.ejs') %>
    <!-- Navbar Start -->
    <%- include('../user/userNavbar.ejs') %>
        <!-- Navbar End -->
        <!-- Checkout Start -->
        <div class="container-fluid pt-5">
            <div class="row px-xl-5">
                <div class="col-lg-8">
                    <div class="mb-4">
                        <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                        <div class="row">
                            <div class="col-lg-9 mx-3 my-3 px-3">
                                <% addresses?.address?.forEach(function(add){ %>
                                    <div class="col-lg-9 mx-3 my-3">
                                        <div class="card card-dashboard">
                                            <div class="card-body">
                                                <input type="radio" id="selectedAddress" name="selectedAddress" value="<%= add._id %> " <%=(add._id===addresses.address[0]._id) ? 'checked' : '' %>>
                                                <p>
                                                <h3>
                                                    <%= user?user:'User'%>
                                                </h3><br>
                                                <h6>
                                                    <%=add.type%>
                                                </h6><br>
                                                <%=add.country%><br>
                                                    <%= add.state %>, <%= add.city %><br>
                                                            <%=add.apartment%>, <%=add.street%>, <%=add.zipcode%>
                                                                        <br>
                                                                        <a href="/editAddress?id=<%=add._id%>">Edit
                                                                            Address <i class="fas fa-edit"></i></a>
                                                                        </p>

                                            </div><!-- End .card-body -->

                                        </div><!-- End .card-dashboard -->
                                    </div><!-- End .col-lg-6 -->
                                    <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card border-secondary mb-5">
                        <div class="card-header bg-secondary border-0">
                            <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">Subtotal</h6>
                                <h6 class="font-weight-medium">₹ <%= subTotal%>
                                </h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">Shipping</h6>
                                <h6 class="font-weight-medium">₹ 10
                                </h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">Discount <b>
                                        <%=couponApplied?couponApplied.couponCode :""%>
                                    </b></h6>
                                <h6 class="font-weight-medium text-danger">- ₹
                                    <%=couponApplied?couponApplied.maximumDiscount : 0%>
                                </h6>
                            </div>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            <div class="d-flex justify-content-between mt-2">
                                <h5 class="font-weight-bold">Total</h5>
                                <h5 class="font-weight-bold" id="total">₹<%= finalPrice %>
                                    <input id="finalPrice" type="hidden" value="<%=finalPrice%>" name="finalPrice">
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="card border-secondary mb-5">
                        <div class="card-header bg-secondary border-0">
                            <h4 class="font-weight-semi-bold m-0">Payment</h4>
                        </div>

                        <div class="card-body">
                            <div class="form-group">
                                <div class="custom-control custom-radio">
                                    <input type="hidden" name="selectedAddressForm"
                                        value="<%= addresses.address._id %>">
                                    <input type="radio" class="custom-control-input" name="payment"
                                        id="Cash-on-delivery" value="Cash on delivery" checked>
                                    <label class="custom-control-label" for="Cash-on-delivery">Cash on delivery</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="payment" id="Online-payment"
                                        value="Online payment">
                                    <label class="custom-control-label" for="Online-payment">Online payment</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="payment" id="Wallet"
                                        value="Wallet">
                                    <label class="custom-control-label" for="Wallet">Wallet</label>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            <a class="text-decoration-none"><button
                                    class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3" type="submit"
                                    onclick="order('<% products.productId %>')">Place Order</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script>
            function order(pid) {
                console.log('ajax');
                let selectedAddress = document.getElementById('selectedAddress').value;
                console.log(selectedAddress);
                let payment = $("input[name=payment]:checked").val();
                console.log(payment);
                let total = document.getElementById('finalPrice').value;
                console.log(total);
                let productId = pid;
                console.log(productId);
                $.ajax({
                    url: '/placeOrder',
                    type: 'POST',
                    data: {
                        productId: productId,
                        selectedAddress: selectedAddress,
                        payment: payment,
                        Total: total
                    },
                    success: (response) => {
                        console.log('cash');
                        if (response.cash) {
                            location.href = '/success'
                        } else if (response.balance) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Insufficient Balance',
                                text: 'You do not have enough balance to make this withdrawal.',
                                showCancelButton: true,
                                confirmButtonText: 'OK',
                                cancelButtonText: 'Cancel',
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = '/checkout';
                                }
                            });
                        } else if (response.wallet) {
                            window.location.href = '/success';
                        }else {
                            razorpay(response.order);
                        }
                    }
                })
            }

            function razorpay(order) {
                var options = {
                    "key": "rzp_test_9CCuVFywuG0qXQ", // Enter the Key ID generated from the Dashboard
                    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                    "currency": "INR",
                    "name": "Organic Beauty", //your business name
                    "description": "Test Transaction",
                    "image": "https://example.com/your_logo",
                    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                    "handler": function (response) {
                        verifyPayment(response, order);
                    },
                    "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information, especially their phone number
                        "name": "Gaurav Kumar", //your customer's name
                        "email": "gaurav.kumar@example.com",
                        "contact": "9000090000"  //Provide the customer's phone number for better conversion rates 
                    },
                    "notes": {
                        "address": "Razorpay Corporate Office"
                    },
                    "theme": {
                        "color": "#3399cc"
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.open();
            };

            function verifyPayment(payment, order) {
                const amount = document.getElementById('total').value;
                $.ajax({
                    url: '/verifyPayment',
                    type: 'POST',
                    data: {
                        payment: payment,
                        amount: amount * 100,
                        order: order
                    },
                    success: function (response) {
                        if (response.payment) {
                            window.location.href = "/success"
                        }
                    }
                })
            };

        </script>
        <!-- Checkout End -->
        <%- include('../user/userFooter.ejs') %>