<%- include('../layouts/user/userHeader.ejs') %>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <%- include('../layouts/user/userNavbar.ejs') %>
        <!-- Navbar End -->


        <!-- Hero Start -->
        <div class="container-fluid bg-primary hero-header mb-5">
            <div class="container text-center">
                <h1 class="display-4 text-white mb-3 animated slideInDown">Address Book</h1>
                <p>View and manage addresses</p>
                <!-- <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center mb-0 animated slideInDown">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Products</li>
                </ol>
            </nav> -->
            </div>
        </div>
        <!-- Hero End -->


        <!-- addAddress Start -->
        <div class="col-lg-9 my-lg-0 my-1">
            <div id="main-content" class="bg-white border">
              <div class="container rounded bg-white mt-5">
                <div class="row">
                  <div class="col-md-8">
                    <div class="p-3 py-5">
                      <div class="d-flex justify-content-between align-items-center mb-3">
    
                        <h4 class="text-right">Add new address</h4>
                      </div>
                      <form action="/editAddressPost" method="post">
                        <div class="row mt-2">
                          <div class="col-md-6"><input type="text" class="form-control" placeholder="Country" value="<%= address.country %>"
                              name="country"></div>
                          <div class="col-md-6"><input type="text" class="form-control" value="<%= address.state %>" placeholder="State"
                              name="state"></div>
                        </div>
                        <div class="row mt-3">
                          <div class="col-md-6"><input type="text" class="form-control" placeholder="Apartment/Suite"
                              value="<%= address.apartment %>" name="apartment"></div>
                          <div class="col-md-6"><input type="text" class="form-control" value="<%= address.city %>" placeholder="City"
                              name="city"></div>
                        </div>
                        <div class="row mt-3">
                          <div class="col-md-6"><input type="text" class="form-control" placeholder="Street" value="<%= address.street %>"
                              name="street"></div>
                          <div class="col-md-6"><input type="text" class="form-control" value="<%= address.zipcode %>" placeholder="Zip code"
                              name="zipcode"></div>
                        </div>
                        <div class="row mt-3">
                          <label>Choose Type:</label><br>
                          <label>
                            <input type="radio" name="type" value="home">
                            Home
                          </label>
                          <br>
                          <label>
                            <input type="radio" name="type" value="work">
                            Work
                          </label>
                          <br>
                          <label>
                            <input type="radio" name="type" value="other">
                            Other
                          </label>
                          <input type="hidden" value="<%=address._id%>" name="id" >
                        </div>
                        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save
                            Address</button></div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- addAddress End -->


        <!-- Newsletter Start -->
        <div class="container-fluid newsletter bg-primary py-5 my-5">
            <div class="container py-5">
                <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="text-white mb-3"><span class="fw-light text-dark">Let's Subscribe</span> The Newsletter
                    </h1>
                    <p class="text-white mb-4">Subscribe now to get 15% discount on any of our products</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-7 wow fadeIn" data-wow-delay="0.5s">
                        <div class="position-relative w-100 mt-3 mb-2">
                            <input class="form-control w-100 py-4 ps-4 pe-5" type="text" placeholder="Enter Your Email"
                                style="height: 48px;">
                            <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i
                                    class="fa fa-paper-plane text-white fs-4"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter End -->


        <!-- Footer Start -->
        <%- include('../layouts/user/userFooter.ejs') %>