<%- include('../user/userHeader.ejs') %>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar Partials -->
    <%- include('../user/userNavbar.ejs') %>

        <!-- Hero Start -->
        <div class="container-fluid bg-primary hero-header mb-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 text-center text-lg-start">
                        <h3 class="fw-light text-white animated slideInRight">Naturally Beautiful</h3>
                        <h1 class="display-4 text-white animated slideInRight">Inside & Out</h1>
                        <p class="text-white mb-4 animated slideInRight">Discover pure, natural beauty with our organic
                            skincare and cosmetics. We're your trusted source for eco-conscious, cruelty-free products
                            that
                            leave you glowing. Join us on a journey to a healthier, more beautiful you.</p>
                        <a href="/products" class="btn btn-dark py-2 px-4 me-3 animated slideInRight">Shop Now</a>
                        <a href="/contact" class="btn btn-outline-dark py-2 px-4 animated slideInRight">Contact Us</a>
                    </div>
                    <div class="col-lg-6">
                        <img class="img-fluid animated pulse infinite" src="../../user/img/organic1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->


        <!-- Feature Start -->
        <div class="container-fluid py-5">
            <div class="container">
                <div class="row g-4">
                    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                        <div class="feature-item position-relative bg-primary text-center p-3">
                            <div class="border py-5 px-3">
                                <i class="fas fa-leaf fa-3x text-dark mb-4"></i>
                                <h5 class="text-white mb-0">100% Natural</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                        <div class="feature-item position-relative bg-primary text-center p-3">
                            <div class="border py-5 px-3">
                                <i class="fas fa-tint-slash fa-3x text-dark mb-4"></i>
                                <h5 class="text-white mb-0">No harmful chemicals</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                        <div class="feature-item position-relative bg-primary text-center p-3">
                            <div class="border py-5 px-3">
                                <i class="fas fa-times fa-3x text-dark mb-4"></i>
                                <h5 class="text-white mb-0">Hypoallergenic</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature End -->


        <!-- About Start -->
        <div class="container-fluid py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <img class="img-fluid animated pulse infinite" src="../../user/img/organic2.png">
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <h1 class="text-primary mb-4">Elevate <span class="fw-light text-dark">your Beauty, Naturally
                                and
                                Sustainably.</span></h1>
                        <p class="mb-4">At Organic Beauty, we are dedicated to providing you with a comprehensive range
                            of
                            premium organic skincare and haircare products that not only enhance your natural beauty but
                            also contribute to a healthier planet. Our products are thoughtfully crafted with the purest
                            organic ingredients, meticulously sourced to ensure their quality and effectiveness. We
                            believe
                            in the power of nature to rejuvenate and nurture your skin and hair, which is why we've
                            carefully formulated our products to be free from harmful chemicals, cruelty-free, and
                            environmentally responsible.</p>
                        <p class="mb-4"> Embrace the beauty of nature with Organic Beauty and experience the
                            transformative
                            benefits of organic skincare and haircare.</p>
                        <a class="btn btn-primary py-2 px-4" href="/products">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Deal Start -->
        <div class="container-fluid deal bg-primary my-5 py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <img class="img-fluid animated pulse infinite" src="../../user/img/organic3.png">
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <div class="bg-white text-center p-4">
                            <div class="border p-4">
                                <p class="mb-2">Natural & Organic Shampoo</p>
                                <h2 class="fw-bold text-uppercase mb-4">Deals of the Day</h2>
                                <h1 class="display-4 text-primary mb-4">₹250.00</h1>
                                <h5>Fresh Organic Shampoo</h5>
                                <p class="mb-4">Our organic fresh hair shampoo is a revitalizing blend of all-natural
                                    ingredients that gently cleanse and nourish your hair. Experience the invigorating
                                    sensation of clean, toxin-free hair while supporting a healthier environment with
                                    every
                                    wash.</p>
                                <div class="row g-0 cdt mb-4">
                                    <div class="col-3">
                                        <h1 class="display-6" id="cdt-days"></h1>
                                    </div>
                                    <div class="col-3">
                                        <h1 class="display-6" id="cdt-hours"></h1>
                                    </div>
                                    <div class="col-3">
                                        <h1 class="display-6" id="cdt-minutes"></h1>
                                    </div>
                                    <div class="col-3">
                                        <h1 class="display-6" id="cdt-seconds"></h1>
                                    </div>
                                </div>
                                <a class="btn btn-primary py-2 px-4" href="/products">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Deal End -->


        <!-- Feature Start -->
        <div class="container-fluid py-5">
            <div class="container">
                <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="text-primary mb-3"><span class="fw-light text-dark">Why choose our products</span>
                        Organic
                        Beauty</h1>
                </div>
                <div class="row g-4 align-items-center">
                    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                        <div class="row g-5">
                            <div class="col-12 d-flex">
                                <div class="btn-square rounded-circle border flex-shrink-0"
                                    style="width: 80px; height: 80px;">
                                    <i class="fas fa-check fa-2x text-primary"></i>
                                </div>
                                <div class="ps-3">
                                    <h5>WHO ARE WE?</h5>
                                    <hr class="w-25 bg-primary my-2">
                                    <span>At Organic Beauty, we are more than just a brand - we are a commitment to
                                        purity,
                                        sustainability, and your well-being.</span>
                                </div>
                            </div>
                            <div class="col-12 d-flex">
                                <div class="btn-square rounded-circle border flex-shrink-0"
                                    style="width: 80px; height: 80px;">
                                    <i class="fas fa-check fa-2x text-primary"></i>
                                </div>
                                <div class="ps-3">
                                    <h5>HOW WE WORK?</h5>
                                    <hr class="w-25 bg-primary my-2">
                                    <span>At Organic Beauty, we believe in harnessing the power of nature to enhance
                                        your
                                        beauty and well-being.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                        <img class="img-fluid animated pulse infinite" src="../../user/img/organic4.png">
                    </div>
                    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                        <div class="row g-5">
                            <div class="col-12 d-flex">
                                <div class="btn-square rounded-circle border flex-shrink-0"
                                    style="width: 80px; height: 80px;">
                                    <i class="fas fa-check fa-2x text-primary"></i>
                                </div>
                                <div class="ps-3">
                                    <h5>QUALITY PRODUCTS</h5>
                                    <hr class="w-25 bg-primary my-2">
                                    <span>Elevate your beauty routine with our pure, organic products, carefully sourced
                                        and
                                        expertly crafted for stunning, natural results.</span>
                                </div>
                            </div>
                            <div class="col-12 d-flex">
                                <div class="btn-square rounded-circle border flex-shrink-0"
                                    style="width: 80px; height: 80px;">
                                    <i class="fas fa-check fa-2x text-primary"></i>
                                </div>
                                <div class="ps-3">
                                    <h5>100% ORGANIC</h5>
                                    <hr class="w-25 bg-primary my-2">
                                    <span>Elevate your skincare routine with our 100% organic beauty collection
                                        today</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature End -->


        <!-- How To Use Start -->
        <div class="container-fluid how-to-use bg-primary my-5 py-5">
            <div class="container text-white py-5">
                <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="text-white mb-3"><span class="fw-light text-dark">Explore our ranges...</h1>
                    <p class="mb-5">Elevate your self-care routine with our diverse range of organic skincare, haircare,
                        and
                        pure botanical oils. From soothing serums to nourishing hair treatments, our products are
                        meticulously crafted to pamper your body and mind, all while promoting natural beauty and
                        well-being.</p>
                </div>
                <div class="row g-5">
                    <div class="col-lg-4 text-center wow fadeIn" data-wow-delay="0.1s">
                        <div class="btn-square rounded-circle border mx-auto mb-4" style="width: 120px; height: 120px;">
                            <i class="fas fa-tint fa-3x text-dark"></i>
                        </div>
                        <h5 class="text-white">Organic Skin</h5>
                        <hr class="w-25 bg-light my-2 mx-auto">
                        <span>Elevate Your Beauty Routine with Luxurious Organic Skincare. Harnessing the Power of
                            Nature
                            for Healthy, Glowing Skin.</span>
                    </div>
                    <div class="col-lg-4 text-center wow fadeIn" data-wow-delay="0.3s">
                        <div class="btn-square rounded-circle border mx-auto mb-4" style="width: 120px; height: 120px;">
                            <i class="fas fa-tint fa-3x text-dark"></i>
                        </div>
                        <h5 class="text-white">Organic Hair</h5>
                        <hr class="w-25 bg-light my-2 mx-auto">
                        <span>Transform Your Tresses with Organic Haircare Products. Nourish and Revitalize Your Hair
                            Naturally for a Radiant Shine.</span>
                    </div>
                    <div class="col-lg-4 text-center wow fadeIn" data-wow-delay="0.5s">
                        <div class="btn-square rounded-circle border mx-auto mb-4" style="width: 120px; height: 120px;">
                            <i class="fas fa-tint fa-3x text-dark"></i>
                        </div>
                        <h5 class="text-white">Organic Oils</h5>
                        <hr class="w-25 bg-light my-2 mx-auto">
                        <span>Our pure botanical oils provide a luxurious and wholesome experience for your skin and
                            hair,
                            leaving you with a radiant glow.</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- How To Use End -->


        <!-- Product Start -->
        <div class="container-fluid py-5">
            <div class="container">
                <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="text-primary mb-3"><span class="fw-light text-dark">Our Natural</span> Products</h1>
                    <!-- <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis aliquet, erat non
                    malesuada consequat, nibh erat tempus risus.</p> -->
                </div>
                <div class="row g-4">
                    <% products.forEach(function(product,index){ %>
                        <% if(product.isList){ %>
                            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                                <div class="product-item text-center border h-100 p-4">
                                    <img class="img-fluid mb-4" src="/product/<%=product.image.image1%>
                                    " alt="">
                                    <a href="/productDetails?id=<%=product._id%>" class="h6 d-inline-block mb-2">
                                        <%= product.productName %>
                                    </a>
                                    <h5 class="text-primary mb-3">₹ <%= product.price%>
                                    </h5>
                                    <form action="/add?id=<%= product._id %>" method="POST">
                                        <button href="/addToCart?id=<%=product._id%>" class="btn btn-outline-success"
                                            type="submit" onclick="addToCart()">Add to cart</button>
                                    </form>
                                </div>
                            </div>
                            <% } %>
                                <% }); %>
                </div>
            </div>
        </div>
        <!-- Product End -->

        <!-- Newsletter Start -->
        <div class="container-fluid newsletter bg-primary py-5 my-5">
            <div class="container py-5">
                <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="text-white mb-3"><span class="fw-light text-dark">Let's Subscribe</span> The Newsletter
                    </h1>
                    <p class="text-white mb-4">Subscribe now to get 15% discount on all products</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-7 wow fadeIn" data-wow-delay="0.5s">
                        <div class="position-relative w-100 mt-3 mb-2">
                            <input class="form-control w-100 py-4 ps-4 pe-5" type="text" placeholder="Enter Your Email"
                                style="height: 48px;">
                            <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i
                                    class="fas fa-paper-plane text-white fs-4"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter End -->

        <script>
            function addToCart() {
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: 'The product has been added to your cart.',
                    showConfirmButton: false,
                    timer: 1500,
                });
            }
        </script>

        <!-- Footer Partials -->
        <%- include('../user/userFooter.ejs') %>