<%- include('../layouts/user/userHeader.ejs') %>
  <!-- Spinner Start -->
  <div id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <!-- Spinner End -->

  <!-- Navbar Start -->
  <%- include('../layouts/user/userNavbar.ejs') %>
    <!-- Navbar End -->

    <!-- Hero Start -->
    <div class="container-fluid bg-primary hero-header mb-5">
      <div class="container text-center">
        <h1 class="display-4 text-white mb-3 animated slideInDown">Products</h1>
        <form id="searchForm">
          <input type="text" id="searchTerm" name="searchTerm" value="<%= searchTerm %>"
            placeholder="Search for Products">
          <button type="submit" class="btn-success">Search</button>
        </form>
      </div>
    </div>
    </div>
    </div>
    <!-- Hero End -->

    <!-- Product Start -->
    <div class="container-fluid py-5">
      <div class="container">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px">
          <h1 class="text-primary mb-3">
            <span class="fw-light text-dark">Our Natural and Organic</span> Products
          </h1>
          <p class="mb-5">
            Explore our product selection and start shopping today!
          </p>
        </div>
        <div class="row px-xl-5">
          <!-- Shop Sidebar Start -->
          <!-- Price Start -->
          <div class="row">
            <div class="col-md-6">
              <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">Filter by Category</h5>
                <form id="categoryForm">
                  <% categories.forEach(function(category, index){ %>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                      <input type="checkbox" class="custom-control-input" id="categoryFilter<%= index %>"
                        name="categoryFilter" value="<%= category._id %>">
                      <label class="custom-control-label" for="categoryFilter<%= index %>">
                        <%= category.categoryName %>
                      </label>
                    </div>
                    <% }); %>
                      <button class="btn btn-outline-success" type="submit">Filter</button>
                </form><br><br>
                <form>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      Price Filter
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/products?id=1">Low to high</a></li>
                      <li><a class="dropdown-item" href="/products?id=-1">High to low</a></li>
                    </ul>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <% if(items.length===0){ %>
          <h6 class="mt-5 d-flex ">no item found!!!!</h6>
          <% }else{ %>
            <% if(similar){ %>
              <div class="row g-4">
                <% similar.forEach(function(item,index){ %>
                  <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <div class="product-item text-center border h-100 p-4">
                      <img class="img-fluid mb-4" src="/product/<%=item.image.image1%>" alt="" />
                      <a href="/productDetails?id=<%=item._id%>" class="h6 d-inline-block mb-2">
                        <%=item.productName%>
                      </a>

                      <% if(item.category.offer && item.category.offer.activationDate <=new Date() &&
                        item.category.offer.expiryDate>= new Date() &&
                        item.category.categoryName===similar[index].category.offer.category ){ %>
                        <h5 class="text-danger mb-3"><strike>₹ <%= item.price%></strike><span class="text-primary"> ₹
                            <%= item.price - item.category.offer.discountAmount %>
                          </span>
                        </h5>
                        <h6 class="text-danger">
                          <%= item.category.offer.offerName %>
                        </h6>
                        <% }else{ %>
                          <h5 class="text-primary mb-3">₹ <%= item.price%>
                          </h5>
                          <% } %>
                            <form action="/add?id=<%= item._id %>" method="POST">
                              <%if(wishlistString.includes(item._id.toString())){ %>
                                <a onclick="wishlist('<%= item._id%>')" class="mx-3 text-decoration-none"
                                  style="color: red;">
                                  <i class="fas fa-heart fa-lg"></i>
                                </a>
                                <% }else{ %>
                                  <a onclick="wishlist('<%= item._id%>')" class="mx-3 text-decoration-none">
                                    <i class="far fa-heart fa-lg"></i>
                                  </a>
                                  <% } %>
                                    <button href="/addToCart?id=<%=item._id%>" class="btn btn-outline-success"
                                      type="submit" onclick="addToCart()">
                                      Add to cart
                                    </button>
                            </form>
                    </div>
                  </div>
                  <% }); %>
              </div>
              <% }else{ %>
                <div class="row g-4">
                  <% items.forEach(function(item,index){ %>
                    <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                      <div class="product-item text-center border h-100 p-4">
                        <img class="img-fluid mb-4" src="/product/<%=item.image.image1%>" alt="" />
                        <a href="/productDetails?id=<%=item._id%>" class="h6 d-inline-block mb-2">
                          <%=item.productName%>
                        </a>
                        <% if(item.category.offer && item.category.offer.activationDate <=new Date() &&
                          item.category.offer.expiryDate>= new Date() &&
                          item.category.categoryName===items[index].category.offer.category && item.category.offer.isBlocked===false ){ %>
                          <h5 class="text-danger mb-3"><strike>₹ <%= item.price%></strike><span class="text-primary"> ₹
                            <%= item.price - Math.floor((item.price * item.category.offer.discountAmount) / 100) %>
                            </span>
                          </h5>
                          <h6 class="text-danger">
                            <%= item.category.offer.offerName %>
                          </h6>
                          <% }else{ %>
                            <h5 class="text-primary mb-3">₹ <%= item.price%>
                            </h5>
                            <% } %>
                              <form action="/add?id=<%= item._id %>" method="POST">
                                <%if(wishlistString.includes(item._id.toString())){ %>
                                  <a onclick="wishlist('<%= item._id%>')" class="mx-3 text-decoration-none"
                                    style="color: red;">
                                    <i class="fas fa-heart fa-lg"></i>
                                  </a>
                                  <% }else{ %>
                                    <a onclick="wishlist('<%= item._id%>')" class="mx-3 text-decoration-none">
                                      <i class="far fa-heart fa-lg"></i>
                                    </a>
                                    <% } %>
                                      <% if(item.stock===0){ %>
                                        <button class="btn btn-danger text-white" disabled>Out of stock</button>
                                        <% }else{ %>
                                          <button href="/addToCart?id=<%=item._id%>" class="btn btn-outline-success"
                                            type="submit" onclick="addToCart('<%= item._id%>')">
                                            Add to cart
                                          </button>
                                          <% } %>
                              </form>
                      </div>
                    </div>
                    <% }); %>
                </div>
                <% } %>
                  <% } %>
      </div>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination d-flex justify-content-center">
        <% for (let i=1; i <=page; i++) { %>
          <li class="page-item">
            <a class="page-link" href="/products?pageNum=<%= i %>">
              <%= i %>
            </a>
          </li>
          <% } %>
      </ul>
    </nav>

    <!-- Product End -->

    <!-- Newsletter Start -->
    <div class="container-fluid newsletter bg-primary py-5 my-5">
      <div class="container py-5">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px">
          <h1 class="text-white mb-3">
            <span class="fw-light text-dark">Let's Subscribe</span> The Newsletter
          </h1>
          <p class="text-white mb-4">
            Subscribe now to get 15% discount on any of our products
          </p>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-7 wow fadeIn" data-wow-delay="0.5s">
            <div class="position-relative w-100 mt-3 mb-2">
              <input class="form-control w-100 py-4 ps-4 pe-5" type="text" placeholder="Enter Your Email"
                style="height: 48px" />
              <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2">
                <i class="fa fa-paper-plane text-white fs-4"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Newsletter End -->

    <!-- sweetalert script -->
    <script>
      function addToCart(productId) {
        $.ajax({
          url: '/add',
          type: 'POST',
          data: {
            product: productId,
          },
          success: function (response) {
            if (response.login == true) {
              swal
                .fire({
                  icon: "warning",
                  title: "Please Login",
                  confirmButtonColor: "#3085d6",
                  confirmButtonText: "Login",
                  showCancelButton: true,
                  cancelButtonColor: "#d33",
                  text: response.message,
                })
                .then((result) => {
                  if (result.isConfirmed) {
                    window.location.href = "/login";
                  }
                });
            } else if (response.success) {
              swal.fire({
                position: "center",
                icon: "success",
                title: "Product added to cart",
                showConfirmButton: false,
                timer: 1500,
              }).then(() => {
                location.reload();
              });
            } else if (response.exist) {
              Swal.fire({
                icon: 'warning',
                title: 'Item Already in Cart',
                text: 'This item is already in your cart.',
              });
            } else if (response.outOfStock) {
              swal.fire({
                position: "center",
                icon: "error",
                title: "Out of stock",
                showConfirmButton: false,
                timer: 1500,
              });
            }
          },
        })
      }

      function wishlist(productId) {
        $.ajax({
          url: '/addToWishlist',
          type: 'POST',
          data: {
            productId: productId,
          },
          success: function (response) {
            if (response.added) {
              location.reload();
            } else if (response.removed) {
              location.reload()
            }
          }
        });
      }

    </script>

    <!-- Footer Start -->
    <%- include('../layouts/user/userFooter.ejs') %>