<%- include('../user/userHeader.ejs') %>
  <!-- Spinner Start -->
  <div id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <!-- Spinner End -->

  <!-- Navbar Start -->
  <%- include('../user/userNavbar.ejs') %>
    <!-- Navbar End -->

    <!-- Hero Start -->
    <div class="container-fluid bg-primary hero-header mb-5">
      <div class="container text-center">
        <h1 class="display-4 text-white mb-3 animated slideInDown">Products</h1>
        <form action="/search" method="post">
          <input type="text" name="searchTerm" placeholder="Search for products">
          <button type="submit" class="btn-success">Search</button>
        </form>
      </div>
    </div>
    </div>
    </div>
    <!-- Hero End -->

    <!-- Product Start -->
    <div class="container-fluid py-5">
      <div class="container">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px">
          <h1 class="text-primary mb-3">
            <span class="fw-light text-dark">Our Natural and Organic</span> Products
          </h1>
          <p class="mb-5">
            Explore our product selection and start shopping today!
          </p>
        </div>

        <div style="display: flex; align-items: center;" class="text-center">
          <h5 class="mx-3">Categories: </h5>
          <ul>
            <li><a style="text-decoration: none;" href="/products/category/Category A">Organic Skin</a></li>
            <li><a style="text-decoration: none;" href="/products/category/Category B">Organic Hair</a></li>
            <li><a style="text-decoration: none;" href="/products/category/Category B">Organic Oils</a></li>
          </ul>
        </div>

        <div class="row g-4">
          <% products.forEach(function(product,index){ %>
            <% if(product.isList){ %>
              <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                <div class="product-item text-center border h-100 p-4">
                  <img class="img-fluid mb-4" src="/product/img/<%=product.productImage[0]%>" alt="" />
                  <a href="/productDetails?id=<%=product._id%>" class="h6 d-inline-block mb-2">
                    <%=product.productName%>
                  </a>
                  <h5 class="text-primary mb-3">₹ <%=product.price%>
                  </h5>
                  <!-- <a href="" class="btn btn-outline-primary px-3">Add To Cart</a> -->
                  <form action="/add?id=<%= product._id %>" method="POST">
                    <button href="/addToCart?id=<%=products._id%>" class="btn btn-outline-success" type="submit"
                      onclick="addToCart()">
                      Add to cart
                    </button>
                  </form>
                </div>
              </div>
              <% } %>
                <% }); %>
        </div>
      </div>
    </div>
    <!-- Product End -->

    <!-- Newsletter Start -->
    <div class="container-fluid newsletter bg-primary py-5 my-5">
      <div class="container py-5">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px">
          <h1 class="text-white mb-3">
            <span class="fw-light text-dark">Let's Subscribe</span> The Newsletter
          </h1>
          <p class="text-white mb-4">
            Subscribe now to get 15% discount on any of our products
          </p>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-7 wow fadeIn" data-wow-delay="0.5s">
            <div class="position-relative w-100 mt-3 mb-2">
              <input class="form-control w-100 py-4 ps-4 pe-5" type="text" placeholder="Enter Your Email"
                style="height: 48px" />
              <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2">
                <i class="fa fa-paper-plane text-white fs-4"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Newsletter End -->

    <!-- sweetalert script -->
    <script>
      function addToCart() {
        Swal.fire({
          icon: "success",
          title: "Success",
          text: "The product has been added to your cart.",
        }).then(() => {
          location.href = "/products"
        });
      }
    </script>

    <!-- Footer Start -->
    <%- include('../user/userFooter.ejs') %>